
@font-face {
    font-family: 'krubbold';
    src: url('../fonts/krub-bold-webfont.eot');
    src: url('../fonts/krub-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-bold-webfont.woff2') format('woff2'),
         url('../fonts/krub-bold-webfont.woff') format('woff'),
         url('../fonts/krub-bold-webfont.svg#krubbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'krubbold_italic';
    src: url('../fonts/krub-bolditalic-webfont.eot');
    src: url('../fonts/krub-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/krub-bolditalic-webfont.woff') format('woff'),
         url('../fonts/krub-bolditalic-webfont.svg#krubbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'krub_extralightregular';
    src: url('../fonts/krub-extralight-webfont.eot');
    src: url('../fonts/krub-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-extralight-webfont.woff2') format('woff2'),
         url('../fonts/krub-extralight-webfont.woff') format('woff'),
         url('../fonts/krub-extralight-webfont.svg#krub_extralightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'krub_extralightitalic';
    src: url('../fonts/krub-extralightitalic-webfont.eot');
    src: url('../fonts/krub-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/krub-extralightitalic-webfont.woff') format('woff'),
         url('../fonts/krub-extralightitalic-webfont.svg#krub_extralightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'krubitalic';
    src: url('../fonts/krub-italic-webfont.eot');
    src: url('../fonts/krub-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-italic-webfont.woff2') format('woff2'),
         url('../fonts/krub-italic-webfont.woff') format('woff'),
         url('../fonts/krub-italic-webfont.svg#krubitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'krub_lightregular';
    src: url('../fonts/krub-light-webfont.eot');
    src: url('../fonts/krub-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-light-webfont.woff2') format('woff2'),
         url('../fonts/krub-light-webfont.woff') format('woff'),
         url('../fonts/krub-light-webfont.svg#krub_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'krub_lightitalic';
    src: url('../fonts/krub-lightitalic-webfont.eot');
    src: url('../fonts/krub-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/krub-lightitalic-webfont.woff') format('woff'),
         url('../fonts/krub-lightitalic-webfont.svg#krub_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'krub_mediumregular';
    src: url('../fonts/krub-medium-webfont.eot');
    src: url('../fonts/krub-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-medium-webfont.woff2') format('woff2'),
         url('../fonts/krub-medium-webfont.woff') format('woff'),
         url('../fonts/krub-medium-webfont.svg#krub_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'krub_mediumitalic';
    src: url('../fonts/krub-mediumitalic-webfont.eot');
    src: url('../fonts/krub-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/krub-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/krub-mediumitalic-webfont.svg#krub_mediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'krubregular';
    src: url('../fonts/krub-regular-webfont.eot');
    src: url('../fonts/krub-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-regular-webfont.woff2') format('woff2'),
         url('../fonts/krub-regular-webfont.woff') format('woff'),
         url('../fonts/krub-regular-webfont.svg#krubregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'krub_semiboldregular';
    src: url('../fonts/krub-semibold-webfont.eot');
    src: url('../fonts/krub-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-semibold-webfont.woff2') format('woff2'),
         url('../fonts/krub-semibold-webfont.woff') format('woff'),
         url('../fonts/krub-semibold-webfont.svg#krub_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'krub_semibolditalic';
    src: url('../fonts/krub-semibolditalic-webfont.eot');
    src: url('../fonts/krub-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/krub-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/krub-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/krub-semibolditalic-webfont.svg#krub_semibolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.row-centered {
   text-align:center;
}
.col-centered {
   display:inline-block;
   float:none;
   /* reset the text-align */
   text-align:left;
   /* inline-block space fix */
   margin-right:-4px;
}

body{
    color: #303030;
}

h1{
   font-family: 'Playfair Display', serif;
    font-size: 35px;
    letter-spacing: 2px;
}

p{
    font-family: 'latolight';
    font-size: 20px;
}

.margin{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* BIENVENIDOS */
#bienvenidos{
    width: 100%;
    height: 100vh;
    background: url(../images/intro.jpg) center no-repeat;
    background-size: cover;
}

.bienvenidos{
    position: relative;
    top: 45%;
}
.bienvenidos>a>button{
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 157px;
    height: 60px;
    font-size: 16px;
    font-family: 'krub_mediumregular';
}

.bienvenidos>a>button:hover{
    background: #ffffff;
    border: none;
    color: #000000;
}

.redes{
    position: relative;
    top: 55%;
}

.facebook i{
   padding: 10px 15px;
   background-color: white;
   border-radius: 50%;
   font-size: 20px;
   color: #c79571;  
}
.twitter i{
    padding: 10px;
   background-color: white;
   border-radius: 50%;
   font-size: 20px;
   color: #c79571;  

}

.instagram i{
    padding: 10px 12px; 
   background-color: white;
   border-radius: 50%;
   font-size: 20px;
   color: #c79571;  

}
#video{
  object-fit: initial;
  width: 100%;
}

/* HOME */
header{
    width: 100%;
    background: #ffffff;
    position: fixed;
    z-index: 9999;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.09);
}
.logo{
    width: 100px;
}

.navbar-default{
    background: none;
    border: none;
}
.navbar-nav{
  margin-top: 20px!important;
}

.navbar-nav>li{
    font-family: 'latolight';
}

.navbar-default .navbar-toggle{
    border: none;
    margin-top: 25px!important;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #303030;
}

.navbar-toggle .icon-bar{
    width: 30px;
    height: 3px;
}
.active{
    font-weight: bold!important;
    font-family: 'latoregular';
}
.idioma-activo{
    border: 2px solid black;
}

.idioma-inactivo{

    border: 2px solid white;
}
.carousel-control{
  opacity: 0;
}
video{
  margin-top: 105px;
}
@keyframes flotar {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}
.controles i{
  font-size: 30px;
  color: white;
  margin-top: -50px;
  margin-left: 50px;
  position: absolute;
  cursor: pointer;

}
#silenciar{
  display: none;
}

.swipe-down{
    z-index: 10!important;
    margin-top: 10px;
    width: 60px;
    float: right;
    margin-right: 100px;
    transform: translatey(0px);
    animation: flotar 6s ease-in-out infinite;
}
.swipe-down:hover{
    cursor: pointer;
}
.via-allegra{
    background: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.via-allegra p{
    font-size: 16px;
}
.via-allegra img{
    width: 100%;
    margin-left: 85px;
    margin-top: -30px;
}
.nosotros{
    background: #d0d0d01a;
    padding-top: 50px;
}
.nosotros img{
    width: 100%;
    margin-left: -85px;
    margin-top: -30px;
}
.texto-nosotros{
    margin-left: 70px;
    font-size: 16px;
}
.texto-nosotros p{

    font-size: 16px;
}



.locales{
  padding-top: 50px;
    padding-bottom: 50px;
}
.locales h1{
    margin-bottom: 0!important;
}


        .square-flip{
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -ms-perspective: 1000;
        perspective: 1000;

        -webkit-transform: perspective(1000px);
        -moz-transform: perspective(1000px);
        -ms-transform: perspective(1000px);
        transform: perspective(1000px);

        -webkit-transform-style: preserve-3d; 
        -moz-transform-style: preserve-3d; 
        -ms-transform-style: preserve-3d; 
        transform-style: preserve-3d; 

        /*border:1px solid #efefef;*/
        
        position:relative;
        float:left;
        margin:20px;

        }
        .square-flip{
            width:250px;
            height:250px;
            margin-top: 50px;
            margin-left: 50px;
           
        }
        .square-flip p{
             font-size: 20px;
             margin-top: 40%;
        }
        .linea{
            border-bottom: 1px solid #A4A4A4;
            width: 80%;
            margin-left: 20px;
        }
        .square,.square2{
            width:100%;
            height:100%;
            padding: 10px;
            box-shadow: 0px 0px 15px rgba(0,0,0,.5);
        }
        .square{
            
            -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
                transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
                -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
            overflow: hidden;
            position:absolute;
            top:0;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
        }
        .square-flip .square{
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
            transform-style: preserve-3d;
            z-index:1;
        }
        .square-flip:hover .square{
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
            -o-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            transform-style: preserve-3d;
        }


        .square2{
            border: 1px solid #A4A4A4;
            -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
                transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
                -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
            overflow: hidden;

            position:absolute;
            top:0;

            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
        }
        .square-flip .square2{
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
            transform-style: preserve-3d;
            z-index:1;
        }
        .square-flip:hover .square2{
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
            transform-style: preserve-3d;
        }

        /*Square content*/
        .square-container{
            border: 1px solid #A4A4A4;
            width: 100%;
            height: 100%;
            text-align:center;
            position:relative;
            top:50%;
            -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
                transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
                -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
            -webkit-transform: translateY(-50%) translateX(0px)  scale(1);
            -ms-transform: translateY(-50%) translateX(0px)  scale(1);
    transform: translateY(-50%) translateX(0px)  scale(1);
            transform-style: preserve-3d;
            z-index:2;
        }
        .square-flip:hover .square-container{
            
            -webkit-transform: translateY(-50%) translateX(-650px)  scale(.88);
            -ms-transform: translateY(-50%) translateX(-650px)  scale(.88);
      transform: translateY(-50%) translateX(-650px)  scale(.88);
            transform-style: preserve-3d;

        }
         .square-container2{
        line-height: 220px;
    }
        .square-container2 img{
            width: 80%;
            vertical-align: middle;
        }

        .square-container2{
            background-color: white;
            border: 1px solid #A4A4A4;
            width: 100%;
            height: 100%;
            text-align:center;
            position:relative;
            top:50%;

            -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
                transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
                -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);

            
            -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
            -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
      transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);

            transform-style: preserve-3d;
            z-index:2;
        }
        .square-flip:hover .square-container2{
            
            -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
            -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
            transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
      transform-style: preserve-3d;
        }

       
        .align-center{
            margin:0 auto;
        }


       

        
.clearfix{clear:both;}

.box2 {
  display: block;
  width: 200px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  position: relative;
  border: 1px solid #A4A4A4;

}
.box2 img{
   margin-top: 30%;
    width: 90%; 
}

.local-mob{
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}
.recuadro-mob{
   border: 1px solid #A4A4A4; 
   width: 100%;
   height: 200px;
   line-height: 200px!important;
}
.recuadro-mob img{
    width: 70%;
    vertical-align:middle!important;
}

.eventos{
    background-color: #F0F0F0;
    padding-top: 50px; 
    padding-bottom: 50px;  
}
.eventos p{
    font-size: 16px;

}
.cabecera{
  background-color: #d0d0d03a;
}
.linea-evento{
  width: 40%;
  border-bottom: 1px solid #d0d0d0;
}
.evento p{
    font-weight: bold;
}
.evento a{
    color: black;
    text-decoration: none;
}
.evento{
    margin-top: 50px;
    min-height: 250px;
}
.evento img{
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}
.imagen-principal{
  max-width: 100%;
}
.galerias ul li{
        list-style: none!important;
        text-decoration: none!important;
      }
      .galerias ul li img{
        max-height: 400px;
        display: block;
        margin: auto;
      }

.scroll-disabled {
  height: 100%;
  overflow: hidden;
}


.galerias iframe{
  margin-left: 0px;
  height: 400px;
}
.galeria{
  padding-top: 50px;
  padding-bottom: 50px;
}

.galeria-p{
  margin-top: 50px;
}
.fa-play-circle{
  color: white;
  position: absolute;
  margin-top: 20px;
  margin-left: -65px;
  z-index: 999!important;
  font-size: 30px;
}
.m-p-g {
  max-width: 100%;
  margin: 0 auto;
}
.m-p-g__thumbs-img {
    height:400px;
    display:block;
    margin:auto;
  cursor: pointer;
  z-index: 1;
  position: relative;
  opacity: 0;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: opacity, transform;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.m-p-g__thumbs-img.active {
  z-index: 50;
}
.m-p-g__thumbs-img.layout-completed {
  opacity: 1;
}
.m-p-g__thumbs-img.hide {
  opacity: 0;
}

.m-p-g__fullscreen {
  position: fixed;
  z-index: 1!important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
  will-change: background, visibility;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.m-p-g__fullscreen.active {
  transition: background .25s ease-out, visibility .01s 0s linear;
  visibility: visible;
  background: rgba(0, 0, 0, 0.95);
}
.m-p-g__fullscreen-img {
  pointer-events: none;
  position: absolute;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  top: 50%;
  left: 50%;
  height: 100%!important;
  max-width: 100%;
  visibility: hidden;
  will-change: visibility;
  transition: opacity 0.5s ease-out;
}

.m-p-g__fullscreen-img.active {
  visibility: visible;
  opacity: 1 !important;
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.m-p-g__fullscreen-img.almost-active {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
}
.m-p-g__controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 20vh;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0) 100%);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.m-p-g__controls.active {
  opacity: 1;
  visibility: visible;
}
.m-p-g__controls-close{
    margin-top: 100px;
}
.m-p-g__controls-close, .m-p-g__controls-arrow {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
}
.m-p-g__controls-close:focus, .m-p-g__controls-arrow:focus {
  outline: none;
}
.m-p-g__controls-arrow {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 20%;
  height: 100vh;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 1;
}
.m-p-g__controls-arrow:hover {
  opacity: 1;
}
.m-p-g__controls-arrow--prev {
  left: 0;
  padding-left: 3vw;
  justify-content: flex-start;
}
.m-p-g__controls-arrow--next {
  right: 0;
  padding-right: 3vw;
  justify-content: flex-end;
}
.m-p-g__controls-close {
  position: absolute;
  top: 3vh;
  left: 3vw;
  z-index: 5;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.m-p-g__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  transition: all .25s ease-out;
}

.m-p-g__alertBox {
  position: fixed;
  z-index: 999;
  max-width: 700px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  padding: 25px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  color: grey;
}

.galeria-evento{
    background-color: white;
    height: 650px;
}
.gallery{
    margin-top: 50px;
}
.gallery img .no-active{
    display: none!important;
}
.gallery__hero img{
    height:400px;
    display:block;
    margin:auto;
}
.gallery__thumbs{
    margin-top: -10px;
    margin-left: 90px;
}
.gallery__thumbs img{
    
    height: 50px!important;
    margin-right: 15px;
    margin-top: 10px;
    filter: grayscale(1);
}
.gallery__thumbs img:hover{
    filter: grayscale(0);
}
.is-active img{
  filter: grayscale(0);  
}
.miniaturas img{
    
    height: 50px!important;
    margin-right: 15px;
    margin-top: 10px;
    filter: grayscale(1);
}
.miniaturas img:hover{
    filter: grayscale(0);
}
.miniaturas .activo{
  filter: grayscale(0)!important;  
}
.evento-mobile{
    padding-top: 110px;
}
.evento-mobile p{
    margin-left: 10px;
    margin-top: -40px;
}
.evento-mobile h1{
    display:block;
    margin-top: 10px;
}
.evento-mobile img{
    width: 80%;
    display: block;
    margin: auto;
}

.form-group label{
    font-size: 12px;
    font-weight: 400;
    color: #A4A4A4;
}
.contacto{
    background-color: #F0F0F0;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid #A4A4A4;
}
.contacto button{
    float: right;
}
.formulario{
    margin-left: 100px;
}
input{
    border-radius: 0!important;
    height: 30px!important;
}
textarea{
  border-radius: 0!important;  
}
.boton{
    border-color: black;
    width: 100px;
    height: 30px;
    margin-top: 20px;
}
.info{
    margin-top: 20px;
    margin-left: 100px; 
    font-family: krubregular;
}
.mapa{
    margin-top: 20px;
    margin-left: 100px; 
    font-family: krubregular;
}
.mapa iframe{
  height: 450px;
}
.info h2{
    font-weight: 200;
    font-size: 20px;
    
}
.sub-title{
    font-weight: bold;
    font-size: 16px;
}
.texto, .ubi, .cel, .mail{
    font-size: 16px;
}
small{
  font-size: 14px!important;
}
.ubi, .cel, .mail, .face, .twit, .insta{
    margin-left: -35px;
    padding-bottom: 10px;
}
.icono-ubi{
    border-radius: 50%;
    border:1px solid black;
    padding: 5px 10px;
}
.icono-cel{
    border-radius: 50%;
    border:1px solid black;
    padding: 5px 10px;
}
.icono-mail{
    border-radius: 50%;
    border:1px solid black;
    padding: 5px 8px;
}
.icono-face{
    border-radius: 50%;
    border:1px solid black;
    padding: 5px 11px;
}
.icono-insta{
    border-radius: 50%;
    border:1px solid black;
    padding: 5px 8px;
}

footer{
     border-bottom: 1px solid #A4A4A4;
     padding: 20px;
     
}
footer p{
    font-size: 16px;
}
footer .redes i{
    border:1px solid black;
    border-radius: 50%;
}
footer .redes i {
    color: black;
}
.firma{
    padding: 10px;
    font-size: 12px;
}
.firma img{
    margin-top: -5px;
}





.imagen-local{
    width: 100%;
}
.volver{
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.volver:hover{
    color: #161616;
    text-decoration: none;
}
.volver i{
    font-size: 20px;
}
.volver i{
    border-radius: 50%;
    border:1px solid black;
    padding: 10px;
}
.carousel-inner {
    height: 500px;
}
.carousel-inner .item img {
   width: 100%;
   margin-top: -10%;
}

.local{
    padding-bottom: 50px;
    border-bottom:1px solid #A4A4A4;
}
.titulo-local{
    font-size: 30px;
    margin-top: 50px;
}
.titulo-evento{
    font-size: 30px;
    margin-top: 50px;
}
.texto-local p{
    font-size: 16px!important;
}
.texto-local {
    font-size: 16px!important;
    font-family: 'latolight';
}

.texto-evento p{
    font-size: 16px!important;
}
.datos-local{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}
.redes-local{
    margin-top: 30px;
    padding-bottom: 30px;
}
.redes-local p{
    margin-left: 0;
    font-size: 14px;
}
.evento-cont{
    padding-bottom: 50px;
     border-bottom:1px solid #A4A4A4;
}
@media (max-width: 576px) {
#bienvenidos{
    width: 100%;
    height: 100vh;
    background: url(../images/intro.jpg) no-repeat;
    background-size:cover;
    background-position: 67% 100%;
}.bienvenidos>a>button{
    background-color: #33333390;
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 157px;
    height: 60px;
    font-size: 16px;
    font-family: 'krub_mediumregular';
}
    .pop-up{
        width: 95%!important;
        left: 6%!important;
        top: 15%;
    }
    .pop-up img{
        width: 100%;
    }
   #video{
  object-fit: initial;
  width: 100%;
  margin-top: 110px;
}
.controles i{
  font-size: 20px;
  color: white;
  margin-top: -30px;
  margin-left: 20px;
  position: absolute;
  cursor: pointer;

}
#myCarousel{
   padding-top: 100px;
}
.carousel-inner {
    height: 200px; 
}
.carousel-inner .item img {
   height: 200px!important;
   width: 100%;
   bottom: 0!important;
   margin-top: 0;
}
.swipe-down{
    display: none;
}
.via-allegra img{
    display: block;
    margin: auto;
}
.nosotros img{
    width: 100%;
    margin-left:0;
}
.texto-nosotros{
    margin-left: 0px;    
}
.evento img{
  width: 100%;
  display: block;
  margin: auto;
}
.galerias{
  margin-left: -50px!important;
  }
  .galeria ul{
    padding: 0;
  }
.galerias ul li img{
        height: 200px;
        display: block;
        margin: auto;
      }

.galerias iframe{
  margin-left: 30px;
  width: 85%;
  height: 200px;
}
.miniaturas{
  margin-left: 70px;
}
.miniaturas img{
  height: 50px;
}

#lightgallery li img{
  height: 180px;
  display: block;
  margin: auto!important;
}

#video-ytb{
  width: 85%!important;
  height: 200px!important;
  margin-left: 20px;
}

#galeria{
   height: 100%; 
   display: block;
   margin: auto;
}
.gallery__thumbs{
    margin-left: 15px;
    margin-top: 20px;
}
.formulario{
    margin-left: 15px;
}
.contacto button {
    float: none;
}
.mapa{
    margin-left: 20px;
    width: 90%;
}
.info{
    margin-left: 50px;
    width: 85%;
    z-index: 200!important;
}
.mapa iframe{
  height: 300px!important;
}

 }
@media (max-width: 800px) { 
.via-allegra img{
    width: 100%;
    margin-top:0;
}
.nosotros img{
    width: 100%;
    margin-left:0;
}
.texto-nosotros{
    margin-left: 0px;
}

 }



